In [1]:
import pandas as pd

In [2]:
# create csv file
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "../PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "../PyCitySchools/Resources/students_complete.csv"
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)


# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635

In [3]:
#calculate total # of schools
total_schools = len(school_data_complete['school_name'].unique())

#calculate total # of students
total_students = school_data_complete['Student ID'].count()


#calculate total budget
total_budget = school_data['budget'].sum()

In [4]:
# Calculate the average math score
avg_math_score = school_data_complete['math_score'].mean()

#Calculate the average reading score
avg_reading_score = school_data_complete['reading_score'].mean()

In [5]:
#Calculate the percentage of students with a passing math score (70 or greater)
pass_math = len(school_data_complete.loc[school_data_complete['math_score'] >= 70])
per_math = (pass_math)/ total_students * 100

In [6]:
#Calculate the percentage of students with a passing reading score (70 or greater)
pass_reading = len(school_data_complete. loc[school_data_complete['reading_score'] >= 70])
per_reading = (pass_reading)/ total_students * 100

In [7]:
pass_mathreading = (school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score']>=70)].count()["student_name"])

In [8]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall = (pass_mathreading)/total_students * 100

In [9]:
# Create dataframe to hold the above results for district summary
district_summary = pd. DataFrame({"Total # of Schools": total_schools,
                                "Total # of Students": total_students,
                                "Total Budget": total_budget,
                                "Average Math Score": avg_math_score,
                                "Average Reading Score": avg_reading_score,
                                "% Passing Math": per_math,
                                "% Passing Reading": per_reading,
                                "% Overall Passing Rate": [overall]})

In [10]:
#Reorganize columns with double brackets
district_summary = district_summary[["Total # of Schools", "Total # of Students", "Total Budget", 
                                     "Average Math Score", "Average Reading Score", 
                                     "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]

# Format to "$0,000.00"
district_summary['Total Budget'] = district_summary['Total Budget']. map('${:,.2f}'. format)

district_summary

,Total # of Schools,Total # of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [11]:
# School Summary 
# We will delete the School ID column because we will not need it
del school_data_complete['School ID']

In [12]:
# Setting up Index
school_index = school_data_complete.set_index('school_name')
schoolindex = school_data_complete.set_index('type')
school_totalstudents = school_data_complete['Student ID'].count()
school_total_budget = school_data_complete['budget'].sum()
psb = school_total_budget/school_totalstudents

In [13]:
index = school_data_complete.set_index('school_name')

grouped = index.groupby(['school_name'])

In [14]:
# Get average math and reading score
avg_math = grouped['math_score'].mean()
avg_read = grouped['reading_score'].mean()

In [15]:
# Calculate percent that passed math
totalpass_math = pass_math/total_students*100
totalpass_math

# need to do some grouping and store it in a variable and put it in your school_summary dataframe when creating it

74.9808526933878

In [16]:
# Calculate percent that passed reading
totalpass_reading = pass_reading/total_students*100
totalpass_reading

85.80546336482001

In [17]:
# Calculate overall passing rate
overall_pass = (totalpass_math + totalpass_reading)/2

In [18]:
# Create dataframe for school summary
school_summary = pd.DataFrame({"School Type": type,
                              "Total Students": total_students,
                              "Total School Budget": total_budget,
                              "Per Student Budget": psb,
                              "Average Math Score": avg_math,
                              "Average Reading Score": avg_read,
                              "% Passing Math": totalpass_math,
                              "% Passing Reading": totalpass_reading,
                              "Overall Passing Rate": overall_pass})

# Reorganize school summary columns 
school_summary = school_summary[["School Type", "Total Students", "Total School Budget", 
                                 "Per Student Budget", "Average Math Score", "Average Reading Score", 
                                 "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]

# Format to "$0,000.00"
school_summary['Total School Budget'] = school_summary['Total School Budget'].map('${:,.2f}'.format)
school_summary['Per Student Budget'] = school_summary['Per Student Budget'].map('${:,.2f}'.format)

school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,<class 'type'>,39170,"$24,649,428.00","$2,117,240.99",77.048432,81.033963,74.980853,85.805463,80.393158
Cabrera High School,<class 'type'>,39170,"$24,649,428.00","$2,117,240.99",83.061895,83.975780,74.980853,85.805463,80.393158
Figueroa High School,<class 'type'>,39170,"$24,649,428.00","$2,117,240.99",76.711767,81.158020,74.980853,85.805463,80.393158
Ford High School,<class 'type'>,39170,"$24,649,428.00","$2,117,240.99",77.102592,80.746258,74.980853,85.805463,80.393158
Griffin High School,<class 'type'>,39170,"$24,649,428.00","$2,117,240.99",83.351499,83.816757,74.980853,85.805463,80.393158

In [19]:
# Create top performing schools summary by passing rate
topschools_summary = school_summary.loc[school_summary['Overall Passing Rate'] > 80]
topschools_summary.sort_values(['Overall Passing Rate'], ascending=False)
topschools_summary.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,<class 'type'>,39170,"$24,649,428.00","$2,117,240.99",77.048432,81.033963,74.980853,85.805463,80.393158
Cabrera High School,<class 'type'>,39170,"$24,649,428.00","$2,117,240.99",83.061895,83.975780,74.980853,85.805463,80.393158
Figueroa High School,<class 'type'>,39170,"$24,649,428.00","$2,117,240.99",76.711767,81.158020,74.980853,85.805463,80.393158
Ford High School,<class 'type'>,39170,"$24,649,428.00","$2,117,240.99",77.102592,80.746258,74.980853,85.805463,80.393158
Griffin High School,<class 'type'>,39170,"$24,649,428.00","$2,117,240.99",83.351499,83.816757,74.980853,85.805463,80.393158